body{
    color: white;
}

.link, .comments{
    color: rgb(245, 156, 83);
}


.title{
    font-size: 4.5em;
    -webkit-text-stroke: 2px black;
    font-weight: 900;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

.gameNews{
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Luckiest Guy', cursive;

}

.view{
    background-color: rgb(89, 133, 199);
    color: white;
    border-radius: 10px;
    font-size: 1.4em;
    line-height: 200%;
}

.modal-card-body{
    color: black;
    -webkit-overflow-scrolling: auto;
    height: 200px;

}


